on:
  push:
    branches:
    - main
permissions:
  contents: read
  pull-requests: read
jobs:
  release-info:
    runs-on: ubuntu-latest #public
    steps:
    - run: |
        cat <<// > github.json
        ${{ toJson(github) }}
        //
    - uses: actions/upload-artifact@main
      with:
        name: github.json
        path: github.json
