on:
  release:
    types:
    - published
    #- prereleased
jobs:
  release-info:
    environment: release-info
    env:
      GH_TOKEN: ${{ secrets.PAT }}
    runs-on: ubuntu-latest #public
    steps:
    - run: echo '(repo git "${{ github.event.repository.git_url }}")' | tee --append ${{ github.event.repository.name }}.release-info
    - run: echo '(uri targz "${{ github.event.repository.html_url }}/tarball/{egg-release}")' | tee --append ${{ github.event.repository.name }}.release-info
    - run: gh -R ${{ github.event.repository.full_name }} release ls --json tagName | jq '.[].tagName' | xargs -I__ -d"\n" echo '(release __)' | tee --append ${{ github.event.repository.name }}.release-info
    - run: gh -R ${{ github.event.repository.full_name }} release upload ${{ github.event.release.tag_name }} ${{ github.event.repository.name }}.release-info
    - uses: actions/upload-artifact@main
      with:
        name: ${{ github.event.repository.name }}.release-info
        path: ${{ github.event.repository.name }}.release-info
    - run: |
        cat <<// | python -c 'import sys,json,yaml;sys.stdout.write(yaml.safe_dump(json.loads(sys.stdin.read())))' > github.yaml
        ${{ toJson(github) }}
        //
    - uses: actions/upload-artifact@main
      with:
        name: github.yaml
        path: github.yaml
