on:
  push:
    branches:
    - main
permissions:
  contents: read
  pull-requests: read
env:
  GITHUB_CONTEX: ${{ toJson(github) }}
jobs:
  release-info:
    runs-on: ubuntu-latest #public
    steps:
    - run: true
