on:
  release:
  workflow_dispatch:
  schedule:
          #┌───────────── minute (0 - 59)
          #│ ┌───────────── hour (0 - 23)
          #│ │ ┌───────────── day of the month (1 - 31)
          #│ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
          #│ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
          #│ │ │ │ │
          #* * * * *
  - cron: '0 0 0 * 0'
permissions:
  contents: read
  pull-requests: read
jobs:
  release-info:
    runs-on: ubuntu-latest #public
    steps:
    - run: true
