on: workflow_dispatch
jobs:
  github-json:
    runs-on: ubuntu-latest #public
    steps:
    - run: |
        cat <<// > github.json
        ${{ toJson(github) }}
        //
    - uses: actions/upload-artifact@main
      with:
        name: github.json
        path: github.json
